#Configuration file for l2fwd-nc
#Created by DDB de Villiers
general_settings:
{
	network_coding = 1;
	MAC_ENTRIES = 20;
	NB_MBUF = 8192;
	MAX_PKT_BURST = 32;
	RTE_TEST_RX_DESC_DEFAULT = 128;
	RTE_TEST_TX_DESC_DEFAULT = 512;
};
network_coding_settings:
{
	codec = "kodoc_on_the_fly";
	finite_field = "kodoc_binary8";
	MAX_SYMBOLS = 10;
	MAX_SYMBOL_SIZE = 1400;
};